In [1]:
import pandas as pd
import numpy as np

import re

import pymysql                        
from sqlalchemy import create_engine

from getpass import getpass 

import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder

from sklearn.preprocessing import MinMaxScaler

from sklearn.linear_model import LogisticRegression

from sklearn.metrics import confusion_matrix

from sklearn import neighbors

# 1. Lab Python Connection

### 1.1 Establish a connection between Python and the Sakila database.

In [2]:
password = getpass()

········

In [3]:
connection = 'mysql+pymysql://root:'+password+'@localhost/sakila'

engine = create_engine(connection)

### 1.2 Rentals Month Function

Write a Python function that retrieves rental data for a given month and year from the Sakila database.

In [4]:
# def rentals_month(engine, year, month):    
#     query = 'SELECT *, substr(rental_date,6,2) as month, substr(rental_date,1,4) as year FROM rental WHERE substr(rental_date,6,2) = ' + month + ' AND substr(rental_date,1,4) = ' + year + ';'
#     result = engine.execute(query)
#     rows = [row for row in result]
#     df = pd.DataFrame(rows)
#     return df

# month = '05'
# year = '2005'

# data_rental = rentals_month(engine, year, month)
# # data_rental

### 1.3 Rental Count Funtion

Develop a Python function that returns a new DataFrame containing the number of rentals made by each customer_id during the selected month and year.

In [5]:
# def rental_count_month(df, month, year):
#     rentals_filtered = df[(df['month'] == month) & (df['year'] == year)]
#     df2 = rentals_filtered.groupby('customer_id').size().reset_index(name = 'rentals_' + str(month) + '_' + str(year))
#     return df2

# data_count = rental_count_month(data_rental, month, year)
# # data_count

### 1.4 Compare Rentals Function
Create a Python function that return a combined DataFrame with the difference between the number of rentals in two months.

In [6]:
# def compare_rentals (df1, month1, year1, df2, month2, year2):    
#     df3 = pd.merge(df1, df2, on = 'customer_id', how = 'outer', left_on=None, right_on=None, left_index=False, right_index=False, suffixes=('_df1', '_df2'), sort=True)    
#     df3.fillna(0, inplace = True)   
#     column1 = 'rentals_' + month1 + '_' + year1
#     column2 = 'rentals_' + month2 + '_' + year2   
#     df3['difference'] = (df3[column1] - df3[column2])  
#     return df3

# month1 = '05'
# month2 = '02'

# year1 = '2005'
# year2 = '2006'

# data_rental1 = rentals_month(engine,year1, month1)
# data_rental2 = rentals_month(engine, year2, month2)

# data_count1 = rental_count_month(data_rental1, month1, year1)
# data_count2 = rental_count_month(data_rental2, month2, year2)

# data_compare = compare_rentals(data_count1, month1, year1, data_count2, month2, year2)
# # data_compare

# 2. Lab Logistic Regression
We would like to know which films will be rented.

### 1. Create a query or queries to extract the information you think may be relevant for building the prediction model. It should include some film features and some rental features (X). 

Y = We can determine our target will be table:
- film: And the column:
	- film_id

X = I believe these tables can provide information about which films are likely to be rented:

- film: Especially these columns:
	- release_year
	- language_id
	- rental_rate
	- length
	- rating
	- special_features
    
    
- rental: Especially these columns:
	- rental_date: Seasonal factors like summer, winter, or weekends could impact rentals.
	- staff_id: The staff member assisting the customer could provide recommendations.
    - customer_id: Rental preferences might depend on the customer's likes."
    
    
- actor: Especially these columns:
	- actor_id: Films may be rented depending on the actors who appear in them.
    
    
- category: Especially these columns:
	- category_id: To determine which categories are rented the most.


- payment: Especially this column:
	- amount: Rental choices might be influenced by the cost.

Now I need to find a common key to join the tables.

Film can be join with:

- rental: using table inventory: film-inventory joined on film_id and inventory-rental joined on inventory_id
- actor: as I only want actor_id, I´ll use table film_actor instead. It will be joined on film_id.
- category: as I only want category_id, I´ll use table film_category instead. It will be joined on film_id.
- payment: using table rental: film-rental already joined and payment-rental joined on rental_id

In [7]:
query_film = """
SELECT f.film_id, f.title, f.release_year, f.language_id, f.rental_rate, f.length, f.rating, f.special_features, 
       r.rental_date, r.staff_id, r.customer_id, a.actor_id, ca.category_id, p.amount

FROM sakila.film f

LEFT JOIN sakila.inventory i
USING(film_id)

LEFT JOIN sakila.rental r
USING(inventory_id)

LEFT JOIN sakila.film_actor a
USING(film_id)

LEFT JOIN sakila.film_category ca
USING(film_id)

LEFT JOIN sakila.payment p
USING(rental_id)
"""
film = pd.read_sql_query(query_film, engine)
film

,film_id,title,release_year,language_id,rental_rate,length,rating,special_features,rental_date,staff_id,customer_id,actor_id,category_id,amount
0,1,ACADEMY DINOSAUR,2006,1,0.99,86,PG,"Deleted Scenes,Behind the Scenes",2005-07-08 19:03:15,2.0,431.0,1.0,6,0.99
1,1,ACADEMY DINOSAUR,2006,1,0.99,86,PG,"Deleted Scenes,Behind the Scenes",2005-07-08 19:03:15,2.0,431.0,10.0,6,0.99
2,1,ACADEMY DINOSAUR,2006,1,0.99,86,PG,"Deleted Scenes,Behind the Scenes",2005-07-08 19:03:15,2.0,431.0,20.0,6,0.99
3,1,ACADEMY DINOSAUR,2006,1,0.99,86,PG,"Deleted Scenes,Behind the Scenes",2005-07-08 19:03:15,2.0,431.0,30.0,6,0.99
4,1,ACADEMY DINOSAUR,2006,1,0.99,86,PG,"Deleted Scenes,Behind the Scenes",2005-07-08 19:03:15,2.0,431.0,40.0,6,0.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88241,1000,ZORRO ARK,2006,1,4.99,50,NC-17,"Trailers,Commentaries,Behind the Scenes",2005-07-31 07:32:21,2.0,401.0,166.0,5,4.99
88242,1000,ZORRO ARK,2006,1,4.99,50,NC-17,"Trailers,Commentaries,Behind the Scenes",2005-07-31 07:32:21,2.0,401.0,178.0,5,4.99
88243,1000,ZORRO ARK,2006,1,4.99,50,NC-17,"Trailers,Commentaries,Behind the Scenes",2005-08-19 03:49:28,2.0,541.0,155.0,5,7.99
88244,1000,ZORRO ARK,2006,1,4.99,50,NC-17,"Trailers,Commentaries,Behind the Scenes",2005-08-19 03:49:28,2.0,541.0,166.0,5,7.99
88245,1000,ZORRO ARK,2006,1,4.99,50,NC-17,"Trailers,Commentaries,Behind the Scenes",2005-08-19 03:49:28,2.0,541.0,178.0,5,7.99

I will check if some columns are handleable and categorical/numerical.

In [8]:
film['release_year'].value_counts()

2006    88246
Name: release_year, dtype: int64

In [9]:
film['language_id'].value_counts()

1    88246
Name: language_id, dtype: int64

In [10]:
film['rental_rate'].value_counts()

0.99    31223
2.99    29007
4.99    28016
Name: rental_rate, dtype: int64

In [11]:
film['rating'].value_counts()

PG-13    19112
PG       18715
NC-17    17672
R        17264
G        15483
Name: rating, dtype: int64

In [12]:
film['special_features'].value_counts()

Trailers,Commentaries,Behind the Scenes                   6930
Trailers                                                  6406
Trailers,Commentaries,Deleted Scenes,Behind the Scenes    6288
Behind the Scenes                                         6262
Trailers,Behind the Scenes                                6221
Commentaries                                              6215
Commentaries,Deleted Scenes,Behind the Scenes             6103
Trailers,Commentaries                                     6096
Commentaries,Deleted Scenes                               5881
Deleted Scenes,Behind the Scenes                          5832
Commentaries,Behind the Scenes                            5757
Deleted Scenes                                            5650
Trailers,Deleted Scenes                                   5382
Trailers,Commentaries,Deleted Scenes                      5277
Trailers,Deleted Scenes,Behind the Scenes                 3946
Name: special_features, dtype: int64

In [13]:
film['customer_id'].value_counts()

148.0    272
526.0    251
197.0    244
144.0    239
75.0     233
        ...
281.0     76
136.0     74
61.0      71
110.0     67
318.0     65
Name: customer_id, Length: 599, dtype: int64

In [14]:
film['actor_id'].value_counts()

107.0    753
181.0    680
198.0    675
144.0    654
102.0    642
        ...
35.0     255
199.0    255
31.0     236
186.0    221
148.0    216
Name: actor_id, Length: 200, dtype: int64

In [15]:
film['category_id'].value_counts()

15    6953
2     6610
1     6327
6     6220
7     5954
14    5750
8     5624
9     5590
3     5518
13    5210
4     5105
11    4943
16    4708
5     4667
10    4564
12    4503
Name: category_id, dtype: int64

I would keep date type columns, numerical and some categorical:

- I´ll drop language and year columns because all rows give the same information.
- I´d check which films and customers give relevant information with a pivot table to clasify them into smaller groups.
- I´ll keep the rest because the amount of data they give is balanced.

In [16]:
film[film['category_id'].isna()==True].head()

Empty DataFrame
Columns: [film_id, title, release_year, language_id, rental_rate, length, rating, special_features, rental_date, staff_id, customer_id, actor_id, category_id, amount]
Index: []

### 2. Create a query to get the list of all unique film titles and a boolean indicating if it was rented (rental_date) in May 2005. (Create new column called - 'rented_in_may'). This will be our **TARGET** (y) variable.

In [17]:
# query_film2 = """
# SELECT f.film_id, f.title, r.rental_date

# FROM sakila.film f

# JOIN sakila.inventory i
# USING(film_id)

# JOIN sakila.rental r
# USING(inventory_id)

# """
# film2 = pd.read_sql_query(query_film2, engine)
# film2

In [18]:
# film2.isna().sum()

In [19]:
# film2['rented_in_may'] = (film2['rental_date'].dt.month == 5) & (film2['rental_date'].dt.year == 2005)
# film2

In [20]:
# film2_pivot = film2.pivot_table(index=['title'], values = ['rented_in_may'], aggfunc = {'rented_in_may':'any'}).reset_index()
# film2_pivot

The aggfunc parameter is set to 'any', which means if there is at least one True value for a film, the result will be True, otherwise False.

Now I´ll do it straightway from SQL. I'll also select other variable I find relevant for the following exercise.

In [21]:
query_film2 = """
SELECT DISTINCT f.title, f.rating, f.rental_rate, f.special_features,
MAX(CASE WHEN r.rental_date IS NOT NULL THEN TRUE ELSE FALSE END) AS rented_in_may

FROM film f

LEFT JOIN inventory i
USING(film_id)

LEFT JOIN rental r
ON i.inventory_id = r.inventory_id

AND EXTRACT(YEAR FROM r.rental_date) = 2005
AND EXTRACT(MONTH FROM r.rental_date) = 5

GROUP BY f.title, f.rating, f.rental_rate, f.special_features;
"""

### 3. Read the data into a Pandas dataframe.  At this point you should have 1000 rows.  Number of columns depends on the number of features you chose.

In [22]:
film2 = pd.read_sql_query(query_film2, engine)
film2

,title,rating,rental_rate,special_features,rented_in_may
0,ACADEMY DINOSAUR,PG,0.99,"Deleted Scenes,Behind the Scenes",1
1,ACE GOLDFINGER,G,4.99,"Trailers,Deleted Scenes",0
2,ADAPTATION HOLES,NC-17,2.99,"Trailers,Deleted Scenes",1
3,AFFAIR PREJUDICE,G,2.99,"Commentaries,Behind the Scenes",1
4,AFRICAN EGG,G,2.99,Deleted Scenes,1
...,...,...,...,...,...
995,YOUNG LANGUAGE,G,0.99,"Trailers,Behind the Scenes",0
996,YOUTH KICK,NC-17,0.99,"Trailers,Behind the Scenes",0
997,ZHIVAGO CORE,NC-17,0.99,Deleted Scenes,1
998,ZOOLANDER FICTION,R,2.99,"Trailers,Deleted Scenes",1
999,ZORRO ARK,NC-17,4.99,"Trailers,Commentaries,Behind the Scenes",1

### 4. Analyze extracted features (X) and transform them. You may need to encode some categorical variables, or scale numerical variables.

In [23]:
# Merge with other values

film = film[['title', 'length', 'category_id']]
film = film.drop_duplicates()
film2 = pd.merge(left = film2, right = film, how = 'left', left_on = "title", right_on= "title").reset_index(drop=True,)
film2

,title,rating,rental_rate,special_features,rented_in_may,length,category_id
0,ACADEMY DINOSAUR,PG,0.99,"Deleted Scenes,Behind the Scenes",1,86,6
1,ACE GOLDFINGER,G,4.99,"Trailers,Deleted Scenes",0,48,11
2,ADAPTATION HOLES,NC-17,2.99,"Trailers,Deleted Scenes",1,50,6
3,AFFAIR PREJUDICE,G,2.99,"Commentaries,Behind the Scenes",1,117,11
4,AFRICAN EGG,G,2.99,Deleted Scenes,1,130,8
...,...,...,...,...,...,...,...
995,YOUNG LANGUAGE,G,0.99,"Trailers,Behind the Scenes",0,183,6
996,YOUTH KICK,NC-17,0.99,"Trailers,Behind the Scenes",0,179,12
997,ZHIVAGO CORE,NC-17,0.99,Deleted Scenes,1,105,11
998,ZOOLANDER FICTION,R,2.99,"Trailers,Deleted Scenes",1,101,3
999,ZORRO ARK,NC-17,4.99,"Trailers,Commentaries,Behind the Scenes",1,50,5

In [24]:
film2[film2['category_id'].isna()==True].head()

Empty DataFrame
Columns: [title, rating, rental_rate, special_features, rented_in_may, length, category_id]
Index: []

In [25]:
film2['rental_rate'].value_counts()

0.99    341
4.99    336
2.99    323
Name: rental_rate, dtype: int64

In [26]:
film2['rating'].value_counts()

PG-13    223
NC-17    210
R        195
PG       194
G        178
Name: rating, dtype: int64

In [27]:
film2['category_id'].value_counts()

15    74
9     73
8     69
6     68
2     66
1     64
13    63
7     62
14    61
10    61
3     60
5     58
4     57
16    57
11    56
12    51
Name: category_id, dtype: int64

In [28]:
pd.crosstab(film2.rental_rate, film2.rented_in_may)

rented_in_may    0    1
rental_rate
0.99            99  242
2.99           110  213
4.99           105  231

I can see this variable is not very interesting, because for all rates the rental is almost the same.

In [29]:
pd.crosstab(film2.rating, film2.rented_in_may)

rented_in_may   0    1
rating
G              52  126
NC-17          68  142
PG             65  129
PG-13          68  155
R              61  134

In [30]:
pd.crosstab(film2.category_id, film2.rented_in_may)

rented_in_may   0   1
category_id
1              14  50
2              17  49
3              20  40
4              17  40
5              20  38
6              17  51
7              11  51
8              17  52
9              27  46
10             22  39
11             26  30
12             15  36
13             27  36
14             15  46
15             25  49
16             24  33

In [31]:
pd.crosstab(film2.special_features, film2.rented_in_may)

rented_in_may                                        0   1
special_features
Behind the Scenes                                   25  45
Commentaries                                        11  51
Commentaries,Behind the Scenes                      22  48
Commentaries,Deleted Scenes                         20  45
Commentaries,Deleted Scenes,Behind the Scenes       17  49
Deleted Scenes                                      14  47
Deleted Scenes,Behind the Scenes                    21  50
Trailers                                            25  47
Trailers,Behind the Scenes                          35  37
Trailers,Commentaries                               25  47
Trailers,Commentaries,Behind the Scenes             20  59
Trailers,Commentaries,Deleted Scenes                25  39
Trailers,Commentaries,Deleted Scenes,Behind the...  22  39
Trailers,Deleted Scenes                             21  45
Trailers,Deleted Scenes,Behind the Scenes           11  38

In [32]:
film2.corr()

C:\Users\PC\AppData\Local\Temp\ipykernel_6180\243240025.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  film2.corr()

               rental_rate  rented_in_may    length  category_id
rental_rate       1.000000      -0.019824  0.029789     0.088725
rented_in_may    -0.019824       1.000000  0.010153    -0.083187
length            0.029789       0.010153  1.000000     0.050206
category_id       0.088725      -0.083187  0.050206     1.000000

The length is not correlated at all, but I´ll keep it because it could have an impact with the other values. I´ll also keep category_id and special_features.

In [33]:
film2 = film2[['rented_in_may', 'category_id', 'special_features', 'length']].reset_index(drop=True)
film2

,rented_in_may,category_id,special_features,length
0,1,6,"Deleted Scenes,Behind the Scenes",86
1,0,11,"Trailers,Deleted Scenes",48
2,1,6,"Trailers,Deleted Scenes",50
3,1,11,"Commentaries,Behind the Scenes",117
4,1,8,Deleted Scenes,130
...,...,...,...,...
995,0,6,"Trailers,Behind the Scenes",183
996,0,12,"Trailers,Behind the Scenes",179
997,1,11,Deleted Scenes,105
998,1,3,"Trailers,Deleted Scenes",101
999,1,5,"Trailers,Commentaries,Behind the Scenes",50

In [34]:
# Convert category_id to object
film2['category_id'] = np.array(film2['category_id'], dtype=np.object)
film2

C:\Users\PC\AppData\Local\Temp\ipykernel_6180\2555954540.py:2: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  film2['category_id'] = np.array(film2['category_id'], dtype=np.object)

,rented_in_may,category_id,special_features,length
0,1,6,"Deleted Scenes,Behind the Scenes",86
1,0,11,"Trailers,Deleted Scenes",48
2,1,6,"Trailers,Deleted Scenes",50
3,1,11,"Commentaries,Behind the Scenes",117
4,1,8,Deleted Scenes,130
...,...,...,...,...
995,0,6,"Trailers,Behind the Scenes",183
996,0,12,"Trailers,Behind the Scenes",179
997,1,11,Deleted Scenes,105
998,1,3,"Trailers,Deleted Scenes",101
999,1,5,"Trailers,Commentaries,Behind the Scenes",50

### 5. Create a logistic regression model to predict 'rented_in_may' from the cleaned data.

##### Train-Test Split

In [87]:
y = film2['rented_in_may']
X = film2.drop('rented_in_may', axis=1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=42)

##### Treat numerical

We have to normalize the numerical, because is not between 0 and 1, so the model would give it more importance.

In [88]:
# Define numerical

X_train_num = X_train.select_dtypes(include = np.number)

In [89]:
# Fit transformer

num_transformer = MinMaxScaler().fit(X_train_num)

In [90]:
# Normalize numerical

X_train_num_transformed_array = num_transformer.transform(X_train_num)

In [91]:
# Convert transform array to dataframe

X_train_num_treated = pd.DataFrame(X_train_num_transformed_array, columns = X_train_num.columns)

##### Treat categorical

In [92]:
# Define categorical

X_train_cat_features = pd.DataFrame(X_train['special_features'])

X_train_cat_catid = pd.DataFrame(X_train['category_id'])

##### Treat categorical - features

In [93]:
# Encode categorical column features

features = ['Trailers', 'Deleted Scenes','Commentaries','Behind the Scenes']

for feat in features:
    X_train_cat_features[feat] = X_train_cat_features['special_features'].str.contains(feat).astype(int)

In [94]:
# Order by index

X_train_cat_features = X_train_cat_features.sort_index()
X_train_cat_features = X_train_cat_features.reset_index(drop = True)
X_train_cat_features

,special_features,Trailers,Deleted Scenes,Commentaries,Behind the Scenes
0,"Deleted Scenes,Behind the Scenes",0,1,0,1
1,"Trailers,Deleted Scenes",1,1,0,0
2,"Trailers,Deleted Scenes",1,1,0,0
3,"Commentaries,Behind the Scenes",0,0,1,1
4,Deleted Scenes,0,1,0,0
...,...,...,...,...,...
895,"Trailers,Commentaries,Deleted Scenes",1,1,1,0
896,"Trailers,Behind the Scenes",1,0,0,1
897,"Trailers,Behind the Scenes",1,0,0,1
898,Deleted Scenes,0,1,0,0
899,"Trailers,Commentaries,Behind the Scenes",1,0,1,1

In [95]:
# Drop column we´re not going to use

X_train_cat_features_treated = X_train_cat_features.drop('special_features', axis = 1)

##### Treat categorical - category_id

In [96]:
# Create encoder

encoder = OneHotEncoder(drop='first').fit(X_train_cat_catid)

In [97]:
# Encode X_train_cat_catid

X_train_cat_catid_encoded = encoder.transform(X_train_cat_catid).toarray()

In [98]:
# Convert to dataframe

X_train_cat_catid_treated = pd.DataFrame(X_train_cat_catid_encoded, columns = encoder.get_feature_names_out(input_features = X_train_cat_catid.columns ))

##### Concatenate

In [99]:
X_train_treated = pd.concat([X_train_num_treated , X_train_cat_features_treated, X_train_cat_catid_treated], axis=1)
X_train_treated

,length,Trailers,Deleted Scenes,Commentaries,Behind the Scenes,category_id_2,category_id_3,category_id_4,category_id_5,category_id_6,category_id_7,category_id_8,category_id_9,category_id_10,category_id_11,category_id_12,category_id_13,category_id_14,category_id_15,category_id_16
0,0.366906,0,1,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.935252,1,1,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.280576,1,1,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,0.460432,0,0,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.827338,0,1,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
895,0.122302,1,1,1,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
896,0.733813,1,0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
897,0.467626,1,0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
898,0.546763,0,1,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
899,0.625899,1,0,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

##### Create a function to clean treat other df

In [100]:
def treat(df):
    df_num = df.select_dtypes(include = np.number)

    df_num_transformed_array = num_transformer.transform(df_num)
    df_num_treated = pd.DataFrame(df_num_transformed_array, columns = df_num.columns)

    df_cat_features = pd.DataFrame(df['special_features'])
    df_cat_catid = pd.DataFrame(df['category_id'])

    for feat in features:
        df_cat_features[feat] = df_cat_features['special_features'].str.contains(feat).astype(int)
    df_cat_features = df_cat_features.sort_index()
    df_cat_features = df_cat_features.reset_index(drop = True)
    df_cat_features_treated = df_cat_features.drop('special_features', axis = 1)

    df_cat_catid_encoded = encoder.transform(df_cat_catid).toarray()
    df_cat_catid_treated = pd.DataFrame(df_cat_catid_encoded, columns = encoder.get_feature_names_out(input_features = df_cat_catid.columns ))

    df_treated = pd.concat([df_num_treated , df_cat_features_treated, df_cat_catid_treated], axis=1)
    
    return df_treated

##### Logistic Regression

In [115]:
classification = LogisticRegression(random_state= 0, solver = 'saga',
                  multi_class = 'auto').fit(X_train_treated, y_train)

### 6. Evaluate the results.

##### Treat X_test

In [116]:
X_test_treated = treat(X_test)

In [117]:
X_test_treated

,length,Trailers,Deleted Scenes,Commentaries,Behind the Scenes,category_id_2,category_id_3,category_id_4,category_id_5,category_id_6,category_id_7,category_id_8,category_id_9,category_id_10,category_id_11,category_id_12,category_id_13,category_id_14,category_id_15,category_id_16
0,0.654676,0,0,1,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.949640,1,0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.251799,0,1,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,0.798561,1,0,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.402878,0,0,0,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.453237,0,0,1,1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
96,0.978417,1,1,1,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
97,0.122302,1,0,1,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
98,0.755396,1,1,1,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99,0.683453,1,1,0,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

##### Predictions

In [118]:
predictions = classification.predict(X_test_treated)
predictions

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], dtype=int64)

##### Classification Score

In [119]:
classification.score(X_test_treated, y_test)

0.71

##### Confusion Matrix

In [106]:
confusion_matrix(y_test, predictions)

array([[ 1, 29],
       [ 0, 70]], dtype=int64)

##### KNN Classifier

In [107]:
KNN_classification = neighbors.KNeighborsClassifier(n_neighbors=800, weights='uniform')
KNN_classification.fit(X_train_treated, y_train)

KNeighborsClassifier(n_neighbors=800)

In [108]:
predicitons_KNN = KNN_classification.predict(X_test_treated)
predicitons_KNN

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], dtype=int64)

In [109]:
KNN_classification.score(X_test_treated, y_test)

0.7

In [110]:
confusion_matrix(y_test, predicitons_KNN)

array([[ 0, 30],
       [ 0, 70]], dtype=int64)

In [120]:
y_test.value_counts()

1    70
0    30
Name: rented_in_may, dtype: int64

In [121]:
y_test

521    1
737    1
740    1
660    1
411    1
      ..
436    1
764    0
88     1
63     0
826    1
Name: rented_in_may, Length: 100, dtype: int64

In [112]:
y_train.value_counts()

1    616
0    284
Name: rented_in_may, dtype: int64

This model is not performing very well and needs improvement. I've tried various solver types, and KNN classification, but the score remains quite low. The confusion matrix indicates that in the best-case scenario, the model predicted 29 films to be rented in May, whereas there were actually 70 films that were rented during that month.

I have also changed the test size, with 0.2 the score was lower.